html{
  font-size: 12pt;
}



.chatroom {
  /* the entire thing */
  background-color:  rgba(251, 196, 183, 0.6);
  border: 2px solid black;
  border-radius: 5%;
  padding: 1%;
  position: absolute;
  bottom: 0;
  left:15%;
  z-index: 50;
  max-width: 15vw;
  height: 80%;
  display: flex;
  flex-direction: column;
  overflow: scroll;


}

.chatroom_title {

  font-size: 0.8em;
  align-self: left;
}

.chatroomMain{
  
  /* this is the container for the sidebar and the messages */
  width: 100%;
  justify-content: flex-start;
  max-height: 100%;
  
}
#chat_avatar{
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;
}

/* This is the UL */
#chatroom_members {  
  list-style: none;
  
 
}

/* the LI */


.chatroom_sidebar{
  max-width: 20%;
  display:  flex;
  flex-direction: row;
  
}

.chatMembers_sidebar ul{
  display: flex;
  flex-direction: row;
  
  
}


#chatroom_members{
  display: flex;
}

.chatroom_sidebar h4{
  font-size: 0.4rem;
}

.chatMembers_sidebar {
  font-size: 0.5em;
}

#chat_message{
    height: auto;
    max-width: 40vw ;
    display: flex;
    margin: 2vh;
    border-radius: 10px;
    padding: 20px;
    text-align: start;
    

}


.user_message {
    background-color: rgb(165, 213, 233);
    
}

.other_message {

    background-color: #fff;
   

}

#chat_input{
    border: 2px solid rgba(135, 133, 133, 0.8);
    background-color: rgba(135, 133, 133, 0.6);
    border-radius: 25px;
    max-width: 95%;
    max-height: 10vh;
    padding: 5px;
    
  }

  #chat_input::placholder{
    font-size: 0.4rem;
  }
  
  #chat_input:focus{
    border: none;
    background-color: #fff
  }

  #chat_button {
    position: relative;
    background-size: cover;
    background-image: url('../../public/pictures/arrow.png');
    left: 75%;
    z-index: 75;
    top: -35px;
    margin-left: 2%;
    margin-bottom: 5%;
    background-color: rgba(135, 133, 133, 0.1);
    opacity: 40%;
    padding: 1%;
    border-radius: 100%;
    border: none;
    width: 30px;
    height: 30px;
    
  }

  #chat_button:hover{
    opacity: 100%;
  }
  
.chatroomFeed_container{
  background-color: rgba(251, 196, 183, 0.6);
}


