

.friendAvatar {
    width: 40px;
    border-radius: 50%;
}

.friendList {
    list-style: none;
}


.allFollow_container button{
    /* width: 50px; */
}

.followList, .followingList{
    display: flex;
    text-align: center;
    width: 100%;
    max-height: 20vh;
    overflow-x: scroll;
    gap: 10px;
}