
/* div {
    border: 1px solid red;
} */

.user_location{
    width: 20vw;
    height: 30vh;
    position: relative;
    margin: 0 10%;
}

.mapMarker {
    color: #f43374;
    background-color: #f43374;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    cursor: pointer;
    font-weight: bold;
}

.mapMarker:hover {
    color: #961bd9;
    background-color: #961bd9;
    transform: scale(1.2);
}

.map_avatar {
    width: 1.5vw;
    border-radius: 50%;
}

.user_location_info{
    padding: 0 29%;
    font-weight: bold;
    font-size: 100%;
}

.click_user_info {
    padding-left: 29%;
}






