
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(254,234,229) ;
  /* border: 1px solid black; */
}

.App {
  background-color: rgb(251,196,183) ;
  width: 98%;
  margin: 1vw auto;
  border-radius: 20px;
}

.center {
  text-align: center;
}

.container{
  background:inherit;
  display: flex;
  border-radius: 20px;
  /* border: 1px solid red; */
}

nav a{
  background:inherit;
  display: block;
  text-align: center;
  margin: 15px auto;
}

nav span{
  background:inherit;
}

nav {
  background:inherit;
  border-radius: 20px;
  display: inline-block;
  width: 4%; 
  padding: 60px auto;
  margin-top: 30px;
}

main{
  display: inline-block;
}

.test{
  border-radius: 20px;
  width: 500px;
  height: 500px;
  background-color: yellow;
}

