
#chat_avatar{
    max-width: 25px;
}

#chat_message{
    height: auto;
    max-width: 40vw ;
    display: flex;
    margin: 2vh;
    border-radius: 10px;
    padding: 20px;
    text-align: start;
    

}

#chat_message p{
    background-color: #fff;
    
}

.user_message {
    background-color: rgb(165, 213, 233);
    
}

.other_message {

    background-color: #fff;
   

}

#chat_input{
    border: none;
    background-color: rgba(135, 133, 133, 0.6);
    border-radius: 25px;
    width: 20vw;
    height: 10vh;
    padding: 10px;
  }
  
  #chat_input:focus{
    border: none;
    background-color: #fff
  }

  #chat_button {
    position: relative;
    background-image: url('../public/pictures/arrow.png');
    background-size: cover;
    left: -10%;
    top: -3vh;
    margin-left: 2%;
    margin-bottom: 5%;
    background-color: rgba(135, 133, 133, 0.1);
    opacity: 60%;
    padding: 1%;
    border-radius: 100%;
    border: none;
    width: 2vw;
  }

  #chat_button:hover{
    opacity: 100%;
  }
  



